<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Arrendamiento</title>
</head>
<body>
<h1>Formulario de Arrendamiento</h1>
<!-- Otros campos del formulario -->
<p>Bicicleta seleccionada: <span th:text="${bicicleta.idBicicleta}"></span></p>
<p>Usuario seleccionado: <span th:text="${usuario.getEmail()}"></span></p>
<p></p>


<form th:action="@{/arriendo}" th:object="${arriendo}" method="post">
    <input type="hidden" name="bicicletaId" th:value="${bicicleta.idBicicleta}"/>
    <input type="hidden" name="usuarioId" th:value="${usuario.id}"/>

    <!-- Aquí puedes agregar los campos del formulario de arrendamiento -->
    <!-- Por ejemplo: -->
    <label for="fechaIni">Fecha de Inicio:</label>
    <input type="date" id="fechaIni" name="fechaIni" required pattern="\d{4}-\d{2}-\d{2}"/>

    <label for="fechaTer">Fecha de Término:</label>
    <input type="date" id="fechaTer" name="fechaTer" required pattern="\d{4}-\d{2}-\d{2}"/>


    <label for="formaPago">Forma de Pago:</label>
    <select id="formaPago" name="formaPago" required>
        <option value="Efectivo">Efectivo</option>
        <option value="Tarjeta">Tarjeta</option>
        <option value="Transferencia">Transferencia</option>
    </select>

    <label for="detallesPago">Detalles de Pago:</label>
    <input type="text" id="detallesPago" name="detallesPago" required/>

    <label for="garantia">Garantía:</label>
    <input type="checkbox" id="garantia" name="garantia"/>

    <label for="montoGarantia">Monto de Garantía:</label>
    <input type="number" id="montoGarantia" name="montoGarantia" required/>


    <button type="submit" class="btn btn-primary">Confirmar Arriendo</button>
</form>

</body>
</html>
