<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Registro de usuarios</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
				integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
				crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
				integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
				crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar" aria-expanded="false"
							aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" th:href="@{/}">Registro y
				inicio de sesión</a>
		</div>
	</div>
</nav>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div th:if=${param.exito}>
				<div class="alert alert-info">Se ha registrado exitosamente a
					la aplicación</div>
			</div>

			<h1>Regístrate</h1>
			<form th:action="@{/registro}"
						method="post"
						th:object="${usuario}"
						id="registro"
			>
				<div class="form-group">
					<label class="control-label" for="nombre">Nombre : </label>
					<input
								id="nombre"
								type="text"
								class="form-control"
								th:field="*{nombre}"
								required
								autofocus="autofocus"
								pattern="^[A-Za-z\s]+$"
					>
				</div>

				<div class="form-group">
					<label class="control-label" for="apellido">Apellido : </label> <input
								id="apellido" class="form-control" th:field="*{apellido}"
								required autofocus="autofocus">
				</div>

				<div class="form-group">
					<label class="control-label" for="email">Email : </label> <input
								id="email" type="email" class="form-control" th:field="*{email}"
								required autofocus="autofocus">
				</div>

				<div class="form-group">
					<label class="control-label" for="password">Password : </label>
					<input
									type="password"
									id="password"
									class="form-control"
									th:field="*{password}"
									required
									autofocus="autofocus"
									pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$"
					>
				</div>

				<div class="form-group">
					<button
									type="submit"
									class="btn btn-success"
									onclick="validateForm()"
					>
						Registrar</button>
					<span>Si estas registrado <a th:href="@{/login}">inicia sesión aqui</a></span>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function validateForm() {
		var nombre = document.getElementById("nombre").value;
		var email = document.getElementById("email").value;
		var password = document.getElementById("password").value;

		var nombreRegex = /^[A-Za-z\s]+$/; // Expresión regular para validar nombre
		var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/; // Expresión regular para validar email
		var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$/; // Expresión regular para validar password

		if (!nombreRegex.test(nombre)) {
			alert("El nombre solo puede contener letras y espacios.");
			return false;
		}

		if (!emailRegex.test(email)) {
			alert("El email no es válido.");
			return false;
		}

		if (!passwordRegex.test(password)) {
			alert("El password debe contener al menos 8 caracteres, una letra mayúscula, una letra minúscula y un número.");
			return false;
		}

		return true; // Si todo está correcto, se enviará el formulario
	}
</script>

<!-- Latest compiled and minified JavaScript -->
<script
				src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
				crossorigin="anonymous"></script>
</body>
</html>