<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="es">
<head>
    <meta charset="utf-8">
    <title>Reparacion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>


<nav class="navbar bg-dark border-bottom border-bottom-dark navbar-expand-lg bg-body-tertiary"
     data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img width="50" height="50"
                                              src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-shop-urban-sports-flaticons-lineal-color-flat-icons.png" alt="external-shop-urban-sports-flaticons-lineal-color-flat-icons"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-underline">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" th:href="@{/arriendo}">Arriendo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/reparacion}">Reparación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/registro}">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/bicicleta}">Administración</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-underline ms-auto">
                <li class="nav-item">
                    <p class="navbar-brand">Bienvenido <span sec:authentication="principal.username"></span></p>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/logout}">Cerrar
                    sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <h1>Reparacion de Bicicletas</h1>
    <br>
    <h4>
        Bienvenido <span sec:authentication="principal.username"></span>
    </h4>

    <br> <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Registro de reparaciones</h1>
                <br>
                <form th:action="@{/reparacion}" method="post" th:object="${reparacion}">
                    <!-- Campos del formulario -->

                    <div class="form-group">
                        <label class="control-label" for="fechaIng">Fecha de Ingreso : </label>
                        <input
                                id="fechaIng"
                                type="date"
                                name="fechaIng"
                                class="form-control"
                                th:field="*{fechaIng}"
                                required
                                autofocus="autofocus"
                                pattern="\d{4}-\d{2}-\d{2}"
                        >

                    </div>

                    <div class="form-group">
                        <label class="control-label" for="descripcion">Descripción : </label>
                        <input id="descripcion" type="text" class="form-control" th:field="*{descripcion}"
                               placeholder="Ingresar descripción" required autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="estado">Estado : </label>
                        <input id="estado" type="text" class="form-control" th:field="*{estado}"
                               placeholder="Ingresar estado" required autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="fechaEntrega">Fecha de Entrega : </label>
                        <input
                                id="fechaEntrega"
                                type="date"
                                name="fechaEntrega"
                                class="form-control"
                                th:field="*{fechaEntrega}"
                                autofocus="autofocus"
                                required pattern="\d{4}-\d{2}-\d{2}"
                        >
                    </div>

                    <input type="hidden" name="usuarioId" th:value="*{usuarioId}"/>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Guardar reparación</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>