<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="es">
<head>
    <meta charset="utf-8">
    <title>Reparacion</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registro e
                inicio de sesión</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar
                    sesión</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <h1>Reparacion de Bicicletas</h1>
    <br>
    <h4>
        Bienvenido <span sec:authentication="principal.username"></span>
    </h4>

    <br> <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Registro de reparaciones</h1>
                <br>
                <form th:action="@{/reparacion}" method="post" th:object="${reparacion}">
                    <!-- Campos del formulario -->

                    <div class="form-group">
                        <label class="control-label" for="fechaIng">Fecha de Ingreso : </label>
                        <input
                                id="fechaIng"
                                type="date"
                                name="fechaIng"
                                class="form-control"
                                th:field="*{fechaIng}"
                                required
                                autofocus="autofocus"
                                pattern="\d{4}-\d{2}-\d{2}"
                        >

                    </div>

                    <div class="form-group">
                        <label class="control-label" for="descripcion">Descripción : </label>
                        <input id="descripcion" type="text" class="form-control" th:field="*{descripcion}"
                               placeholder="Ingresar descripción" required autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="estado">Estado : </label>
                        <input id="estado" type="text" class="form-control" th:field="*{estado}"
                               placeholder="Ingresar estado" required autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="fechaEntrega">Fecha de Entrega : </label>
                        <input
                                id="fechaEntrega"
                                type="date"
                                name="fechaEntrega"
                                class="form-control"
                                th:field="*{fechaEntrega}"
                                autofocus="autofocus"
                                required pattern="\d{4}-\d{2}-\d{2}"
                        >
                    </div>

                    <input type="hidden" name="usuarioId" th:value="*{usuarioId}"/>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Guardar reparación</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>