<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reportes</title>
</head>
<body>
<h1>Reportes</h1>
<h4>Reporte de arriendo de bicicletas</h4>
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Fecha Inicio</th>
    <th>Fecha Termino</th>
    <th>Forma de Pago</th>
    <th>Detalles de Pago</th>
    <th>Garantía</th>
    <th>Monto Garantía</th>
    <th>Usuario</th>
    <th>Bicicleta</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="arriendo : ${arriendos}">
    <td th:text="${arriendo.idArriendo}"></td>
    <td th:text="${arriendo.fechaIni}"></td>
    <td th:text="${arriendo.fechaTer}"></td>
    <td th:text="${arriendo.formaPago}"></td>
    <td th:text="${arriendo.detallesPago}"></td>
    <td th:text="${arriendo.garantia}"></td>
    <td th:text="${arriendo.montoGarantia}"></td>
    <td th:text="${arriendo.usuario.nombre}"></td>
    <td th:text="${arriendo.bicicleta.modelo}"></td>
  </tr>
  </tbody>
</table>
<br>
  <form
          th:action="@{/reportes/generar-pdf}"
          th:method="post"
          target="_blank"
  >
    <button type="submit">Generar PDF</button>
  </form>

</body>
</html>